$color-primary-cyan: hsl(180, 66%, 49%);
$color-primary-violet: hsl(257, 27%, 26%);
$color-secondary: hsl(0, 87%, 67%);
$color-gray: hsl(0, 0%, 75%);
$color-grayish-violet: hsl(257, 7%, 63%);
$color-very-dark-blue: hsl(255, 11%, 22%);
$color-very-dark-violet: hsl(260, 8%, 14%);
$color-separator: hsla(0, 0%, 75%, 0.25);

$spacing-padding: 1rem;
$spacing-margin: 1.5rem;

$font-color: #fefefe;
$font-size: 18px;
