@use 'base';
@use 'variables';

body {
	font-size: variables.$font-size;
	font-family: 'Poppins', sans-serif;
}

.site-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2.5rem 1rem 1rem 1rem;
}
