@use '../../styles/variables' as v;
@use '../../styles/main.scss';

$padding:  v.$spacing-5;

.shorten-link {
  margin: -100px 0 0 0;
  .shorten-link__form {
    padding: $padding;
    background: v.$color-primary-dark;
    border-radius: v.$border-radius;
    position: relative;
    margin: 0 0 v.$spacing-margin 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: v.$color-additional-violet;
      z-index: 1;
      clip-path: ellipse(65% 60% at 92% 19%);
    }

    .shorten-link__input {
      position: relative;
      z-index: 2;
      width: 100%;
      height: 50px;
      margin: 0 0 v.$spacing-4 0;

    }

    .shorten-link__submit-button {
      position: relative;
      z-index: 2;
      border-radius: v.$border-radius;
    }

  }

  .shorten-link__link-list {
    padding: 0;

    & > * {
      margin: 0 0 v.$spacing-margin 0;
    }

    .shorten-link__input-link, .shorten-link__output-link{
      margin: 0;
    }

    .shorten-link__list-item {
      background: v.$color-background;
      border-radius: v.$border-radius;

      .shorten-link__input-link {
        border-bottom: v.$border;
        padding: v.$spacing-3 v.$spacing-4;
      }

      .shorten-link__action-area {
        padding: 0 v.$spacing-4 v.$spacing-4 v.$spacing-4;

        .shorten-link__output-link {
          padding: v.$spacing-3 0 ;
          color: v.$color-primary;
        }

        .shorten-link__copy-button {
          padding: 0.5rem 0;
          border-radius: v.$border-radius;
        }
      }

    }
  }
}
